<h1>編集</h1>

<div>
  <%= form_tag("/task/update/#{@task.id}") do %>
    <p>タスク名</p>
    <div>
      <input name="name" placeholder="" type="text" autocomplete="off" value="<%= @task.name %>"></input>
    </div>

    <p>メモ</p>
    <div>
      <textarea name="content" placeholder="" type="text" autocomplete="off"><%= @task.content %></textarea>
    </div>

    <div>
      <input class="submit" type="submit" value="登録">
    </div>
  <% end %>

  <%= link_to("削除する", "/task/destroy/#{@task.id}", {method: "post"}) %>
</div>
