<h1>新規作成</h1>

<% if @task.errors.any? %>
  <% @task.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>

<%= form_tag("/task/create") do %>
  <div>
    <input name="name" placeholder="タスク名" type="text" autocomplete="off"></input>
  </div>

  <div>
    <textarea name="content" placeholder="メモ" type="text" autocomplete="off"></textarea>
  </div>

  <div>
    <input class="submit" type="submit" value="登録">
  </div>
<% end %>
